/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/metaboigniter Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {


    // Input options
    input                      = null
    // Default peakpickerhires_openms
        algorithm_signal_to_noise_peakpickerhires_openms = 0.0
        algorithm_spacing_difference_gap_peakpickerhires_openms = 4.0
        algorithm_spacing_difference_peakpickerhires_openms = 1.5
        algorithm_missing_peakpickerhires_openms = 1
        algorithm_report_fwhm_peakpickerhires_openms = false
        algorithm_report_fwhm_unit_peakpickerhires_openms = "relative"
        algorithm_signaltonoise_max_intensity_peakpickerhires_openms = -1
        algorithm_signaltonoise_auto_max_stdev_factor_peakpickerhires_openms = 3.0
        algorithm_signaltonoise_auto_max_percentile_peakpickerhires_openms = 95
        algorithm_signaltonoise_auto_mode_peakpickerhires_openms = 0
        algorithm_signaltonoise_win_len_peakpickerhires_openms = 200.0
        algorithm_signaltonoise_bin_count_peakpickerhires_openms = 30
        algorithm_signaltonoise_min_required_elements_peakpickerhires_openms = 10
        algorithm_signaltonoise_noise_for_empty_window_peakpickerhires_openms = 1.0e20

        // Default featurefindermetabo_openms
        algorithm_common_noise_threshold_int_featurefindermetabo_openms = 10.0
        algorithm_common_chrom_peak_snr_featurefindermetabo_openms = 3.0
        algorithm_common_chrom_fwhm_featurefindermetabo_openms = 5.0
        algorithm_mtd_mass_error_ppm_featurefindermetabo_openms = 20.0
        algorithm_mtd_reestimate_mt_sd_featurefindermetabo_openms = true
        algorithm_mtd_quant_method_featurefindermetabo_openms = "area"
        algorithm_mtd_trace_termination_criterion_featurefindermetabo_openms = "outlier"
        algorithm_mtd_trace_termination_outliers_featurefindermetabo_openms = 5
        algorithm_mtd_min_sample_rate_featurefindermetabo_openms = 0.5
        algorithm_mtd_min_trace_length_featurefindermetabo_openms = 5.0
        algorithm_mtd_max_trace_length_featurefindermetabo_openms = -1.0
        algorithm_epd_enabled_featurefindermetabo_openms = true
        algorithm_epd_width_filtering_featurefindermetabo_openms = "fixed"
        algorithm_epd_min_fwhm_featurefindermetabo_openms = 1.0
        algorithm_epd_max_fwhm_featurefindermetabo_openms = 60.0
        algorithm_epd_masstrace_snr_filtering_featurefindermetabo_openms = false
        algorithm_ffm_local_rt_range_featurefindermetabo_openms = 10.0
        algorithm_ffm_local_mz_range_featurefindermetabo_openms = 6.5
        algorithm_ffm_charge_lower_bound_featurefindermetabo_openms = 1
        algorithm_ffm_charge_upper_bound_featurefindermetabo_openms = 3
        algorithm_ffm_report_summed_ints_featurefindermetabo_openms = false
        algorithm_ffm_enable_rt_filtering_featurefindermetabo_openms = true
        algorithm_ffm_isotope_filtering_model_featurefindermetabo_openms = "'metabolites (5% RMS)'"
        algorithm_ffm_mz_scoring_13c_featurefindermetabo_openms = false
        algorithm_ffm_use_smoothed_intensities_featurefindermetabo_openms = true
        algorithm_ffm_report_convex_hulls_featurefindermetabo_openms = false
        algorithm_ffm_remove_single_traces_featurefindermetabo_openms = false
        algorithm_ffm_mz_scoring_by_elements_featurefindermetabo_openms = false
        algorithm_ffm_elements_featurefindermetabo_openms = "CHNOPS"

        // Default mapalignerposeclustering_openms
        algorithm_max_num_peaks_considered_mapalignerposeclustering_openms = 1000
        algorithm_superimposer_mz_pair_max_distance_mapalignerposeclustering_openms = 0.5
        algorithm_superimposer_rt_pair_distance_fraction_mapalignerposeclustering_openms = 0.1
        algorithm_superimposer_num_used_points_mapalignerposeclustering_openms = 2000
        algorithm_superimposer_scaling_bucket_size_mapalignerposeclustering_openms = 5.0e-03
        algorithm_superimposer_shift_bucket_size_mapalignerposeclustering_openms = 3.0
        algorithm_superimposer_max_shift_mapalignerposeclustering_openms = 1000.0
        algorithm_superimposer_max_scaling_mapalignerposeclustering_openms = 2.0
        algorithm_superimposer_dump_buckets_mapalignerposeclustering_openms = ""
        algorithm_superimposer_dump_pairs_mapalignerposeclustering_openms = ""
        algorithm_pairfinder_second_nearest_gap_mapalignerposeclustering_openms = 2.0
        algorithm_pairfinder_use_identifications_mapalignerposeclustering_openms = false
        algorithm_pairfinder_ignore_charge_mapalignerposeclustering_openms = false
        algorithm_pairfinder_ignore_adduct_mapalignerposeclustering_openms = true
        algorithm_pairfinder_distance_rt_max_difference_mapalignerposeclustering_openms = 100.0
        algorithm_pairfinder_distance_rt_exponent_mapalignerposeclustering_openms = 1.0
        algorithm_pairfinder_distance_rt_weight_mapalignerposeclustering_openms = 1.0
        algorithm_pairfinder_distance_mz_max_difference_mapalignerposeclustering_openms = 0.3
        algorithm_pairfinder_distance_mz_unit_mapalignerposeclustering_openms = "Da"
        algorithm_pairfinder_distance_mz_exponent_mapalignerposeclustering_openms = 2.0
        algorithm_pairfinder_distance_mz_weight_mapalignerposeclustering_openms = 1.0
        algorithm_pairfinder_distance_intensity_exponent_mapalignerposeclustering_openms = 1.0
        algorithm_pairfinder_distance_intensity_weight_mapalignerposeclustering_openms = 0.0
        algorithm_pairfinder_distance_intensity_log_transform_mapalignerposeclustering_openms = "disabled"

        // Default maprttransformer_openms
        invert_maprttransformer_openms = false
        store_original_rt_maprttransformer_openms = false
        model_type_maprttransformer_openms = "none"
        model_linear_symmetric_regression_maprttransformer_openms = false
        model_linear_x_weight_maprttransformer_openms = "x"
        model_linear_y_weight_maprttransformer_openms = "y"
        model_linear_x_datum_min_maprttransformer_openms = 1.0e-15
        model_linear_x_datum_max_maprttransformer_openms = 1.0e15
        model_linear_y_datum_min_maprttransformer_openms = 1.0e-15
        model_linear_y_datum_max_maprttransformer_openms = 1.0e15
        model_b_spline_wavelength_maprttransformer_openms = 0.0
        model_b_spline_num_nodes_maprttransformer_openms = 5
        model_b_spline_extrapolate_maprttransformer_openms = "linear"
        model_b_spline_boundary_condition_maprttransformer_openms = 2
        model_lowess_span_maprttransformer_openms = 0.666666666666667
        model_lowess_num_iterations_maprttransformer_openms = 3
        model_lowess_delta_maprttransformer_openms = -1.0
        model_lowess_interpolation_type_maprttransformer_openms = "cspline"
        model_lowess_extrapolation_type_maprttransformer_openms = "four-point-linear"
        model_interpolated_interpolation_type_maprttransformer_openms = "cspline"
        model_interpolated_extrapolation_type_maprttransformer_openms = "two-point-linear"


        // Default featurelinkerunlabeledkd_openms
        keep_subelements_featurelinkerunlabeledkd_openms = false
        algorithm_mz_unit_featurelinkerunlabeledkd_openms = "ppm"
        algorithm_nr_partitions_featurelinkerunlabeledkd_openms = 100
        algorithm_warp_enabled_featurelinkerunlabeledkd_openms = true
        algorithm_warp_rt_tol_featurelinkerunlabeledkd_openms = 100.0
        algorithm_warp_mz_tol_featurelinkerunlabeledkd_openms = 5.0
        algorithm_warp_max_pairwise_log_fc_featurelinkerunlabeledkd_openms = 0.5
        algorithm_warp_min_rel_cc_size_featurelinkerunlabeledkd_openms = 0.5
        algorithm_warp_max_nr_conflicts_featurelinkerunlabeledkd_openms = 0
        algorithm_link_rt_tol_featurelinkerunlabeledkd_openms = 30.0
        algorithm_link_mz_tol_featurelinkerunlabeledkd_openms = 10.0
        algorithm_link_charge_merging_featurelinkerunlabeledkd_openms = "With_charge_zero"
        algorithm_link_adduct_merging_featurelinkerunlabeledkd_openms = "Any"
        algorithm_distance_rt_exponent_featurelinkerunlabeledkd_openms = 1.0
        algorithm_distance_rt_weight_featurelinkerunlabeledkd_openms = 1.0
        algorithm_distance_mz_exponent_featurelinkerunlabeledkd_openms = 2.0
        algorithm_distance_mz_weight_featurelinkerunlabeledkd_openms = 1.0
        algorithm_distance_intensity_exponent_featurelinkerunlabeledkd_openms = 1.0
        algorithm_distance_intensity_weight_featurelinkerunlabeledkd_openms = 1.0
        algorithm_distance_intensity_log_transform_featurelinkerunlabeledkd_openms = "enabled"
        algorithm_lowess_span_featurelinkerunlabeledkd_openms = 0.666666666666667
        algorithm_lowess_num_iterations_featurelinkerunlabeledkd_openms = 3
        algorithm_lowess_delta_featurelinkerunlabeledkd_openms = -1.0
        algorithm_lowess_interpolation_type_featurelinkerunlabeledkd_openms = "cspline"
        algorithm_lowess_extrapolation_type_featurelinkerunlabeledkd_openms = "four-point-linear"


        // Default metaboliteadductdecharger_openms
        algorithm_metabolitefeaturedeconvolution_charge_min_metaboliteadductdecharger_openms = 1
        algorithm_metabolitefeaturedeconvolution_charge_max_metaboliteadductdecharger_openms = 1
        algorithm_metabolitefeaturedeconvolution_charge_span_max_metaboliteadductdecharger_openms = 1
        algorithm_metabolitefeaturedeconvolution_q_try_metaboliteadductdecharger_openms = "feature"
        algorithm_metabolitefeaturedeconvolution_retention_max_diff_metaboliteadductdecharger_openms = 1.0
        algorithm_metabolitefeaturedeconvolution_retention_max_diff_local_metaboliteadductdecharger_openms = 1.0
        algorithm_metabolitefeaturedeconvolution_mass_max_diff_metaboliteadductdecharger_openms = 5
        algorithm_metabolitefeaturedeconvolution_unit_metaboliteadductdecharger_openms = "ppm"
        algorithm_metabolitefeaturedeconvolution_max_neutrals_metaboliteadductdecharger_openms = 1
        algorithm_metabolitefeaturedeconvolution_use_minority_bound_metaboliteadductdecharger_openms = true
        algorithm_metabolitefeaturedeconvolution_max_minority_bound_metaboliteadductdecharger_openms = 1
        algorithm_metabolitefeaturedeconvolution_min_rt_overlap_metaboliteadductdecharger_openms = 0.66
        algorithm_metabolitefeaturedeconvolution_intensity_filter_metaboliteadductdecharger_openms = false
        algorithm_metabolitefeaturedeconvolution_default_map_label_metaboliteadductdecharger_openms = "'decharged features'"





        // Defaults for featurefindermetaboident_openms
        extract_mz_window_featurefindermetaboident_openms = 10.0
        extract_rt_window_featurefindermetaboident_openms = 0.0
        extract_n_isotopes_featurefindermetaboident_openms = 2
        extract_isotope_pmin_featurefindermetaboident_openms = 0.0
        detect_peak_width_featurefindermetaboident_openms = 60.0
        detect_min_peak_width_featurefindermetaboident_openms = 0.2
        detect_signal_to_noise_featurefindermetaboident_openms = 0.8
        model_type_featurefindermetaboident_openms = "symmetric"
        model_add_zeros_featurefindermetaboident_openms = 0.2
        model_unweighted_fit_featurefindermetaboident_openms = false
        model_no_imputation_featurefindermetaboident_openms = false
        model_each_trace_featurefindermetaboident_openms = false
        model_check_min_area_featurefindermetaboident_openms = 1.0
        model_check_boundaries_featurefindermetaboident_openms = 0.5
        model_check_width_featurefindermetaboident_openms = 10.0
        model_check_asymmetry_featurefindermetaboident_openms = 10.0
        emgscoring_max_iteration_featurefindermetaboident_openms = 100
        emgscoring_init_mom_featurefindermetaboident_openms = false




        // Defaults for splitmgf_pyopenms
        mgf_splitmgf_pyopenms=1


        // General params
        skip_centroiding=true
        polarity="positive"
        ms2_collection_model="paired" // separate means the MS2 files are different than MS1. Anything else will be treated as having MS1 and 2 in a single file
        requantification=false
        identification=false
        skip_alignment=false
        skip_adduct_detection=false
        adducts_pos="H:+:0.6 Na:+:0.1 NH4:+:0.1 H-1O-1:+:0.1 H-3O-2:+:0.1"
        adducts_neg="H-1:-:1 H-2O-1:0:0.05 CH2O2:0:0.5"
        parallel_linking = false

        // ms2 query
        run_ms2query = false
        offline_model_ms2query=false
        models_dir_ms2query="models"
        train_library_ms2query=false
        library_path_ms2query=""

        // MSmapping Params
        mz_tolerance_pyopenms=20.0
        rt_tolerance_pyopenms = 5.0
        annotate_ids_with_subelements_pyopenms = true
        measure_from_subelements_pyopenms = true

        // ms2_processing
        ms2_use_feature_ionization = false
        ms2_feature_selection = "quality" // possible values: intensity quality
        ms2_normalized_intensity = true
        ms2_iterations = 3
        ms2_ppm_map = 10

        run_sirius = false
        sirius_project_maxmz = -1
        sirius_project_loglevel = "WARNING"
        sirius_project_ignore_formula = false
        sirius_sirius_ppm_max = 10.0
        sirius_sirius_ppm_max_ms2 = 10.0
        sirius_sirius_tree_timeout = 100
        sirius_sirius_compound_timeout = 100
        sirius_sirius_no_recalibration = false
        sirius_sirius_profile = "default" // 'default', 'qtof', 'orbitrap', 'fticr'
        sirius_sirius_formulas = ""
        sirius_sirius_ions_enforced = "" // [M+H]+,[M-H]-, [M+Cl]-, [M+Na]+, [M]+
        sirius_sirius_candidates = 10
        sirius_sirius_candidates_per_ion = 1
        sirius_sirius_elements_considered = "SBrClBSe"
        sirius_sirius_elements_enforced = "CHNOP"
        sirius_sirius_no_isotope_score = false
        sirius_sirius_no_isotope_filter = false
        sirius_sirius_ions_considered = "[M+H]+,[M+K]+,[M+Na]+,[M+H-H2O]+,[M+H-H4O2]+,[M+NH4]+,[M-H]-,[M+Cl]-,[M-H2O-H]-,[M+Br]-"
        sirius_sirius_db = ""
        sirius_runfid = false
        sirius_runpassatutto = false
        sirius_fingerid_db = ""
        sirius_sirius_solver = "CLP"
        sirius_email = ""
        sirius_password = ""
        sirius_split = false

        // split consensus file for speeding up
        split_consensus_parts = 20
        run_umapped_spectra = false

        // save intermed files

        save_intermeds = false








    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null


    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes'
    validationShowHiddenParams       = false
    validate_params                  = true

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load nf-core/metaboigniter custom profiles from different institutions.
// Warning: Uncomment only if a pipeline-specific instititutional config already exists on nf-core/configs!
// try {
//   includeConfig "${params.custom_config_base}/pipeline/metaboigniter.config"
// } catch (Exception e) {
//   System.err.println("WARNING: Could not load nf-core/config/metaboigniter profiles: ${params.custom_config_base}/pipeline/metaboigniter.config")
// }
profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        runOptions             = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}


// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/metaboigniter'
    author          = """Payam Emami"""
    homePage        = 'https://github.com/nf-core/metaboigniter'
    description     = """Pre-processing of mass spectrometry-based metabolomics data"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '2.0.0'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
