/*
 * -------------------------------------------------
 *  nf-core/metaboigniter Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  // TODO nf-core: Check the defaults for all processes
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  // TODO nf-core: Customise requirements for specific processes.
  // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors

  withLabel: openms {
     container ="metaboigniter/container-openms:v2.4.0"
   }

   withLabel: xcmsconvert {
      container ="metaboigniter/container-openmstoxcms:v1.0.0"
    }

   withLabel: xcms {
       container ="metaboigniter/container-xcms:v1.53.1"
     }

     withLabel: camera {
         container ="metaboigniter/container-camera:v1.33.4"
       }

   withLabel: msnbase {
        container ="metaboigniter/container-msnbase:v2.0.2"
      }

   withLabel: metfrag {
         container ="metaboigniter/container-metfrag:v0.0.1"
       }

   withLabel: cfmid {
          container ="metaboigniter/container-cfmid:v2.0.0"
        }

    withLabel: csifingerid {
           container ="metaboigniter/container-csifingerid:v4.0.0"
         }

    withLabel: passatutto {
                container ="metaboigniter/container-passatutto:v2.1.0"
              }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
