
/*
* Parameters for which computations to use
*/


docker.enabled = true

if(docker.enabled==true)
{

process{
withName:process_peak_picker_pos_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_masstrace_detection_pos_openms_noncentroided {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_masstrace_detection_pos_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_openms_to_xcms_conversion_centroided {
 container ="metaboigniter/container-openmstoxcms:v1.0.0"
}

withName:process_masstrace_detection_pos_xcms_centroided {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_masstrace_detection_pos_xcms_noncentroided {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_collect_rdata_pos_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_group_peaks_pos_N1_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_align_peaks_pos_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_group_peaks_pos_N2_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_blank_filter_pos_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_dilution_filter_pos_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_cv_filter_pos_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_annotate_peaks_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_group_peaks_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_addcuts_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_isotopes_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_read_MS2_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_tocamera_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_toparam_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_ms2_identification_pos_csifingerid {
 container ="metaboigniter/container-csifingerid:v4.0.0"
}
withName:process_identification_aggregate_pos_csifingerid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_csifingerid_pos_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_pos_camera_csifingerid {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_ms2_identification_pos_metfrag {
 container ="metaboigniter/container-metfrag:v0.0.1"
}
withName:process_identification_aggregate_pos_metfrag {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_metfrag_pos_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_pos_camera_metfrag {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_ms2_identification_pos_cfmid {
 container ="metaboigniter/container-cfmid:v2.0.0"
}
withName:process_identification_aggregate_pos_cfmid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_cfmid_pos_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_pos_camera_cfmid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_peak_picker_library_pos_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_masstrace_detection_library_pos_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_openms_to_xcms_conversion_centroided {
 container ="metaboigniter/container-openmstoxcms:v1.0.0"
}
withName:process_masstrace_detection_library_pos_xcms_centroided {
 container ="metaboigniter/container-xcms:"
}
withName:process_masstrace_detection_library_pos_xcms_noncentroided {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_annotate_peaks_library_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_group_peaks_library_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_addcuts_library_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_isotopes_library_pos_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_read_MS2_library_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_tocamera_library_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_create_library_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_collect_library_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_remove_adducts_library_pos_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_search_engine_library_pos_msnbase_libcharac {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_search_engine_library_pos_msnbase_nolibcharac {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_library_pos_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_pos_camera_library {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_output_quantid_pos_camera_noid{
container ="metaboigniter/container-camera:v1.33.4"
}
}
// Neg containers
process{
withName:process_peak_picker_neg_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_masstrace_detection_neg_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_openms_to_xcms_conversion_neg {
 container ="metaboigniter/container-openmstoxcms:v1.0.0"
}
withName:process_masstrace_detection_neg_xcms_centroided {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_masstrace_detection_neg_xcms_noncentroided {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_collect_rdata_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_group_peaks_neg_N1_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_align_peaks_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_group_peaks_neg_N2_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_blank_filter_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_dilution_filter_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_cv_filter_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_annotate_peaks_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_group_peaks_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_addcuts_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_isotopes_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_read_MS2_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_tocamera_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_toparam_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_ms2_identification_neg_csifingerid {
 container ="metaboigniter/container-csifingerid:v4.0.0"
}
withName:process_identification_aggregate_neg_csifingerid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_csifingerid_neg_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_neg_camera_csifingerid {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_ms2_identification_neg_metfrag {
 container ="metaboigniter/container-metfrag:v0.0.1"
}
withName:process_identification_aggregate_neg_metfrag {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_metfrag_neg_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_neg_camera_metfrag {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_ms2_identification_neg_cfmid {
 container ="metaboigniter/container-cfmid:v2.0.0"
}
withName:process_identification_aggregate_neg_cfmid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_cfmid_neg_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_neg_camera_cfmid {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_peak_picker_library_neg_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_masstrace_detection_library_neg_openms {
 container ="metaboigniter/container-openms:v2.1.0"
}
withName:process_openms_to_xcms_conversion_centroided {
 container ="metaboigniter/container-openmstoxcms:v1.0.0"
}
withName:process_openms_to_xcms_conversion_library_pos_centroided {
 container ="metaboigniter/container-openmstoxcms:v1.0.0"
}
withName:process_masstrace_detection_library_neg_xcms {
 container ="metaboigniter/container-xcms:"
}
withName:process_masstrace_detection_library_neg_xcms {
 container ="metaboigniter/container-xcms:v1.53.1"
}
withName:process_annotate_peaks_library_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_group_peaks_library_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_addcuts_library_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_find_isotopes_library_neg_camera {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_read_MS2_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_mapmsms_tocamera_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_create_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_collect_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_remove_adducts_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_search_engine_library_neg_msnbase {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_search_engine_library_neg_msnbase_nonlibcharac {
 container ="metaboigniter/container-msnbase:v2.0.2"
}
withName:process_pepcalculation_library_neg_passatutto {
 container ="metaboigniter/container-passatutto:v2.1.0"
}
withName:process_output_quantid_neg_camera_library {
 container ="metaboigniter/container-camera:v1.33.4"
}
withName:process_output_quantid_neg_camera_noid{
container ="metaboigniter/container-camera:v1.33.4"
}
}
}

