
/*
* Parameters for which computations to use
*/

singularity.enabled = true


if(singularity.enabled==true)
{

process{
withName:process_peak_picker_pos_openms {
 container =""
}
withName:process_masstrace_detection_pos_openms {
 container =""
}
withName:process_openms_to_xcms_conversion {
 container =""
}
withName:process_masstrace_detection_pos_xcms {
 container =""
}
withName:process_masstrace_detection_pos_xcms {
 container =""
}
withName:process_collect_rdata_pos_xcms {
 container =""
}
withName:process_group_peaks_pos_N1_xcms {
 container =""
}
withName:process_align_peaks_pos_xcms {
 container =""
}
withName:process_group_peaks_pos_N2_xcms {
 container =""
}
withName:process_blank_filter_pos_xcms {
 container =""
}
withName:process_dilution_filter_pos_xcms {
 container =""
}
withName:process_cv_filter_pos_xcms {
 container =""
}
withName:process_annotate_peaks_pos_camera {
 container =""
}
withName:process_group_peaks_pos_camera {
 container =""
}
withName:process_find_addcuts_pos_camera {
 container =""
}
withName:process_find_isotopes_pos_camera {
 container =""
}
withName:process_read_MS2_pos_msnbase {
 container =""
}
withName:process_mapmsms_tocamera_pos_msnbase {
 container =""
}
withName:process_mapmsms_toparam_pos_msnbase {
 container =""
}
withName:process_ms2_identification_pos_csifingerid {
 container =""
}
withName:process_identification_aggregate_pos_csifingerid {
 container =""
}
withName:process_pepcalculation_csifingerid_pos_passatutto {
 container =""
}
withName:process_output_quantid_pos_camera_csifingerid {
 container =""
}
withName:process_ms2_identification_pos_metfrag {
 container =""
}
withName:process_identification_aggregate_pos_metfrag {
 container =""
}
withName:process_pepcalculation_metfrag_pos_passatutto {
 container =""
}
withName:process_output_quantid_pos_camera_metfrag {
 container =""
}
withName:process_ms2_identification_pos_cfmid {
 container =""
}
withName:process_identification_aggregate_pos_cfmid {
 container =""
}
withName:process_pepcalculation_cfmid_pos_passatutto {
 container =""
}
withName:process_output_quantid_pos_camera_cfmid {
 container =""
}
withName:process_peak_picker_library_pos_openms {
 container =""
}
withName:process_masstrace_detection_library_pos_openms {
 container =""
}
withName:process_openms_to_xcms_conversion {
 container =""
}
withName:process_masstrace_detection_library_pos_xcms {
 container =""
}
withName:process_masstrace_detection_library_pos_xcms {
 container =""
}
withName:process_annotate_peaks_library_pos_camera {
 container =""
}
withName:process_group_peaks_library_pos_camera {
 container =""
}
withName:process_find_addcuts_library_pos_camera {
 container =""
}
withName:process_find_isotopes_library_pos_camera {
 container =""
}
withName:process_read_MS2_library_pos_msnbase {
 container =""
}
withName:process_mapmsms_tocamera_library_pos_msnbase {
 container =""
}
withName:process_create_library_pos_msnbase {
 container =""
}
withName:process_collect_library_pos_msnbase {
 container =""
}
withName:process_remove_adducts_library_pos_msnbase {
 container =""
}
withName:process_search_engine_library_pos_msnbase {
 container =""
}
withName:process_search_engine_library_pos_msnbase {
 container =""
}
library_pepcalculation_library_pos_passatutto {
 container =""
}
withName:process_output_quantid_pos_camera_library {
 container =""
}
withName:process_peak_picker_neg_openms {
 container =""
}
withName:process_masstrace_detection_neg_openms {
 container =""
}
withName:process_openms_to_xcms_conversion {
 container =""
}
withName:process_masstrace_detection_neg_xcms {
 container =""
}
withName:process_masstrace_detection_neg_xcms {
 container =""
}
withName:process_collect_rdata_neg_xcms {
 container =""
}
withName:process_group_peaks_neg_N1_xcms {
 container =""
}
withName:process_align_peaks_neg_xcms {
 container =""
}
withName:process_group_peaks_neg_N2_xcms {
 container =""
}
withName:process_blank_filter_neg_xcms {
 container =""
}
withName:process_dilution_filter_neg_xcms {
 container =""
}
withName:process_cv_filter_neg_xcms {
 container =""
}
withName:process_annotate_peaks_neg_camera {
 container =""
}
withName:process_group_peaks_neg_camera {
 container =""
}
withName:process_find_addcuts_neg_camera {
 container =""
}
withName:process_find_isotopes_neg_camera {
 container =""
}
withName:process_read_MS2_neg_msnbase {
 container =""
}
withName:process_mapmsms_tocamera_neg_msnbase {
 container =""
}
withName:process_mapmsms_toparam_neg_msnbase {
 container =""
}
withName:process_ms2_identification_neg_csifingerid {
 container =""
}
withName:process_identification_aggregate_neg_csifingerid {
 container =""
}
withName:process_pepcalculation_csifingerid_neg_passatutto {
 container =""
}
withName:process_output_quantid_neg_camera_csifingerid {
 container =""
}
withName:process_ms2_identification_neg_metfrag {
 container =""
}
withName:process_identification_aggregate_neg_metfrag {
 container =""
}
withName:process_pepcalculation_metfrag_neg_passatutto {
 container =""
}
withName:process_output_quantid_neg_camera_metfrag {
 container =""
}
withName:process_ms2_identification_neg_cfmid {
 container =""
}
withName:process_identification_aggregate_neg_cfmid {
 container =""
}
withName:process_pepcalculation_cfmid_neg_passatutto {
 container =""
}
withName:process_output_quantid_neg_camera_cfmid {
 container =""
}
withName:process_peak_picker_library_neg_openms {
 container =""
}
withName:process_masstrace_detection_library_neg_openms {
 container =""
}
withName:process_openms_to_xcms_conversion {
 container =""
}
withName:process_masstrace_detection_library_neg_xcms {
 container =""
}
withName:process_masstrace_detection_library_neg_xcms {
 container =""
}
withName:process_annotate_peaks_library_neg_camera {
 container =""
}
withName:process_group_peaks_library_neg_camera {
 container =""
}
withName:process_find_addcuts_library_neg_camera {
 container =""
}
withName:process_find_isotopes_library_neg_camera {
 container =""
}
withName:process_read_MS2_library_neg_msnbase {
 container =""
}
withName:process_mapmsms_tocamera_library_neg_msnbase {
 container =""
}
withName:process_create_library_neg_msnbase {
 container =""
}
withName:process_collect_library_neg_msnbase {
 container =""
}
withName:process_remove_adducts_library_neg_msnbase {
 container =""
}
withName:process_search_engine_library_neg_msnbase {
 container =""
}
withName:process_search_engine_library_neg_msnbase {
 container =""
}
withName:process_library_pepcalculation_library_neg_passatutto {
 container =""
}
withName:process_output_quantid_neg_camera_library {
 container =""
}
}

}
