/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/metaboigniter -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // type of Ionization
  type_of_ionization = 'both'

  // Input files for MS1 quantification (this needs to be provided)

  input = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X2_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/D1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X1_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/Blank_3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X3_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/QC_3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/D2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X6_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/QC_1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X8_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/Blank_2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/Blank_1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/X7_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/D3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/QC_2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Quant/D4.mzML'
  ]

  quant_mzml_files_neg = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X2_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/D1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X1_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/Blank_3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X3_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/QC_3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/D2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X6_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/QC_1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X8_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/Blank_2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/Blank_1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/X7_Rep1.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/D3.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/QC_2.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Quant/D4.mzML'
  ]

  // Input csv file for the experimental design
  phenotype_design_pos = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/phenotype_positive.csv'// Path to a csv file containing the experimental design (MS1 data in positive ionization method)
  phenotype_design_neg = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/phenotype_negative.csv'// Path to a csv file containing the experimental design (MS1 data in positive ionization method)

  // Input files for MS2 identification. If you don't want to identification you can leave them blank. If your MS1 and MS2 files are the same, you should set this to the same path
  id_mzml_files_pos = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_ID/Pilot_MS_Control_2_peakpicked.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_ID/Pilot_MS_Pool_2_peakpicked.mzML'
  ]

  id_mzml_files_neg = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_ID/Pilot_MS_Pool_2_Neg_peakpicked.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_ID/Pilot_MS_Control_2_Neg_peakpicked.mzML'
  ]

  quant_library_mzml_files_pos = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rC_POS_180522171703.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rD_POS_180522175927.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rB_POS_180522163438.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rA_POS_180522155214.mzML'
  ]

  id_library_mzml_files_pos = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rC_POS_180522171703.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rD_POS_180522175927.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rB_POS_180522163438.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_POS_Lib/P1rA_POS_180522155214.mzML'
  ]

  library_description_pos = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/library_charac_pos.csv' // Path to a csv file containing description of the library for positive (see the help)

  quant_library_mzml_files_neg = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rC_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rD_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rB_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rA_NEG.mzML'
  ]

  id_library_mzml_files_neg = [
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rC_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rD_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rB_NEG.mzML',
    'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/mzML_NEG_Lib/P1rA_NEG.mzML'
  ]

  library_description_neg = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/library_charac_neg.csv' // Path to a csv file containing description of the library for negative (see the help)

  // MetFrag
  database_csv_files_pos_metfrag = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/hmdb_2017-07-23.csv' // path to a csv file containing your database

  // CFM-ID
  database_csv_files_pos_cfmid = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/hmdb_2017-07-23.csv' // path to a csv file containing your database

  // MetFrag
  database_csv_files_neg_metfrag = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/hmdb_2017-07-23.csv' // path to a csv file containing your database

  // CFM-ID
  database_csv_files_neg_cfmid = 'https://raw.githubusercontent.com/nf-core/test-datasets/metaboigniter/hmdb_2017-07-23.csv' // path to a csv file containing your database

  // identification
  perform_identification = true
  perform_identification_csifingerid = true
  perform_identification_metfrag = true
  perform_identification_internal_library = true
  perform_identification_cfmid = true
  minPeaks_msmstoparam_pos_msnbase = 50
  precursorppm_msmstoparam_pos_msnbase = 5
  fragmentppm_msmstoparam_pos_msnbase = 5
  timeout_csifingerid_pos_csifingerid = 10
  quantification_openms_xcms_pos = 'xcms'
  quantification_openms_xcms_neg = 'openms'
  need_centroiding = true
  cv_filter_pos=true
  dilution_filter_pos = true
  blank_filter_pos = true
  cv_filter_neg=true
  dilution_filter_neg = true
  blank_filter_neg = true
  database_msmstoparam_pos_msnbase = 'LocalCSV'
  database_msmstoparam_neg_msnbase = 'KEGG'
schema_ignore_params = 'id_library_mzml_files_neg,quant_library_mzml_files_neg,id_library_mzml_files_pos,quant_library_mzml_files_pos,id_mzml_files_neg,id_mzml_files_pos,quant_mzml_files_neg,input'
}
